.peliculas-card{
    display: flex;
    background-color: transparent;
    color: white;
}


.peliculas-container{
    position: relative;
    /* margin: auto; */
    margin-top: 80px;
    color: white;
}

.slider-peliculas{
    /* width: 90%; */
    margin: auto;
}

.scroll-infinito{
    height: 100%;
    overflow: auto;
    display:flex;
    /* flex-direction: column-reverse; */
}