.peliculas-card{
    display: flex;
}

.peliculas-container{
    position: relative;
    margin: auto;
    color: white;
}

.slider-peliculas{
    /* width: 90%; */
    margin: auto;
}

.scroll-infinito{
    height: 100%;
    overflow: auto;
    display:flex;
    /* flex-direction: column-reverse; */
}